<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chosen Wish List!</title>
    <style>
 HEAD
    </style>
</head>
<body>

<form action="/wishlistAdd" method="post">
    <label> Title: </label>
    <input type="text" name="title"><br>
    <label>Link:</label>
    <input type="text" name="link"><br>
    <label>Note:</label>
    <input type="text" name="note"><br>
    <a th:href="${link}" target="_blank"></a>
    <button type="submit"> Add to wish list</button>
</form>

<h1><span th:text="${wishList.wishListHeader}"></span></h1>
<form action="/addWish" method="get">
    <input type="hidden" name="wishlistId" th:value="${wishList.wishListId}">
    <button type="submit">Add wish!</button>
</form>
<br>
<form action="/shareWishList" method="get">
    <input type="hidden" name="wishlistId" th:value="${wishList.wishListId}">
    <button type="submit">Share this wishlist with other users!</button>
</form>
<table>
    <thead>
    <tr>
        <td>Header</td>
        <td>Link</td>
        <td>Price</td>
        <td>Note</td>
        <td>Delete</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wish : ${wishes}">
        <td th:text="${wish.wishHeader}"></td>
        <td th:text="${wish.wishLink}"></td>
        <td th:text="${wish.wishPrice}"></td>
        <td th:text="${wish.wishNote}"></td>
        <td th:if="${wishes != null}">
            <form action="/deleteWish" method="post">
                <input type="hidden" name="wishId" th:value="${wish.wishId}">
                <input type="hidden" name="wishlistId" th:value="${wishList.wishListId}">
                <button type="submit">Delete wish</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

<br>
<form action="/userWishList" method="get">
    <input type="hidden" name="id" th:value="${wishList.userId}">
    <button type="submit">Go back to all your wishlists!</button>
</form>
</body>
</html>