<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>share</title>
</head>
<body>
<h1>Share wishlist</h1>

<table>
    <thead><td>Users</td><td>Action</td></thead>
    <tr th:each="user : ${users}">
        <td th:text="${user.username}"></td>
        <td th:if="${users != null}">
            <form action="/shareWishListAction" method="post">
                <input type="hidden" name="wishlistId" th:value="${wishList.wishListId}">
                <input type="hidden" name="userId" th:value="${user.userId}"> <!-- id'et fra den man sender til -->
                <button type="submit">Share with this user!</button>
            </form>
        </td>
    </tr>
</table>

</body>
</html>