<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>verify</title>
</head>
<body>
<h1>Password verification</h1>
<form action="verifyPasswordAction" method="post">
    <td>Password</td><td><input type="text" name="password"></td>
    <input type="hidden" name="id" th:value="${user.userId}">
    <button type="submit">Submit!</button>
    <td th:if="${error}">Fejl: <span th:text="${error}"></span></td>
</form>
<br>
<hr>
<form action="/" method="get">
    <button type="submit">Choose another user</button>
</form>

</body>
</html>